<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  <div class="module-container">
    <div class="round-illuminator">
      <div class="content-plate">
        <h2>100%</h2>
      </div>
    </div>
    <div class="text-container">
      <h3>options data</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, natus quasi accusamus earum magnam id corrupti sit aliquam ullam dolor sit amet, consectetur.</p>
      <hr>
    </div>
    <h4>01</h4>
  </div>
  <div class="module-container">
      <div class="round-illuminator">
        <div class="content-plate">
          <h2>75%</h2>
        </div>
      </div>
      <div class="text-container">
        <h3>options data</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, natus quasi accusamus earum magnam id corrupti sit aliquam ullam dolor sit amet, consectetur.</p>
        <hr>
      </div>
      <h4>02</h4>
    </div>
    <div class="module-container">
        <div class="round-illuminator">
          <div class="content-plate">
            <h2>25%</h2>
          </div>
        </div>
        <div class="text-container">
          <h3>options data</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, natus quasi accusamus earum magnam id corrupti sit aliquam ullam dolor sit amet, consectetur.</p>
          <hr>
        </div>
        <h4>03</h4>
      </div>
</div>

